<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650240957568-adoftb9fhjmsb6t2e2t0g8hevetir293.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650240957568-adoftb9fhjmsb6t2e2t0g8hevetir293</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvbfIHN3Er_SVgIF4fMzv3WJblceAwp8</string>
	<key>GCM_SENDER_ID</key>
	<string>650240957568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scilit</string>
	<key>PROJECT_ID</key>
	<string>scilit-341f3</string>
	<key>STORAGE_BUCKET</key>
	<string>scilit-341f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650240957568:ios:0474c30f1cc72226065a65</string>
	<key>DATABASE_URL</key>
	<string>https://scilit-341f3.firebaseio.com</string>
</dict>
</plist>